{% extends 'MataPageBundle::layout.html.twig' %}

{% block content %}
    <div class="container">

        <h1 class="page-title">Please send us a message! </h1>

        <div class="row">
            <div class="span12">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=cebu&amp;aq=&amp;sll=35.065973,-79.321289&amp;sspn=19.478414,43.286133&amp;ie=UTF8&amp;hq=&amp;hnear=Cebu+City,+Cebu,+Central+Visayas,+Philippines&amp;ll=10.315699,123.885437&amp;spn=0.005732,0.010568&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=cebu&amp;aq=&amp;sll=35.065973,-79.321289&amp;sspn=19.478414,43.286133&amp;ie=UTF8&amp;hq=&amp;hnear=Cebu+City,+Cebu,+Central+Visayas,+Philippines&amp;ll=10.315699,123.885437&amp;spn=0.005732,0.010568&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="span9">

                <form accept-charset="UTF-8" action="" method="POST" class="comments-form">

                    <p class="input-block">
                        <label for="comment-name"><strong>Name</strong> <span class="label">required</span></label>
                        <input type="text" name="name" placeholder="Name" value="" id="comment-name" required="">
                    </p>

                    <p class="input-block">
                        <label for="comment-name"><strong>Email</strong> <span class="label">required</span></label>
                        <input type="text" name="email" placeholder="Email" value="" id="comment-name" required="">
                    </p>

                    <p class="input-block">
                        <label for="comment-name"><strong>Subject</strong></label>
                        <input type="text" name="subject" placeholder="Subject" value="" id="comment-name" required="">
                    </p>


                    <textarea class="span8" id="new_message" name="content"
                              placeholder="Your message" rows="5"></textarea>

                    <button class="btn btn-info" type="submit">Submit Message</button>
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div style="color: green">
                            <i class="icon-ok"></i>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </form>


            </div>
            <div class="span3">
                <address>
                    <strong>Business Name</strong><br>
                    888 Street Ave, Suite 123<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">first.last@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
{% endblock %}