{% extends 'MataPageBundle::layout.html.twig' %}

{% block content %}
    <div class="container">

        <!-- begin slider -->
        <section id="slider-home">
            <div class="flex-container">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="{{ asset('img/living-white-940x350.png') }}" alt="White Living Room">
                            <div class="flex-caption">
                                <h2>Responsive Layout</h2>
                                <p class="span4">You can describe your slides using captions. This is an example of a caption with <a href="#">a link</a>.</p>
                            </div>
                        </li>
                        <li>
                            <img src="{{ asset('img/villa-940x350.png') }}" alt="Villa">
                            <div class="flex-caption">
                                <h2>HTML5 &amp; CSS3 Code</h2>
                                <p>You can describe your slides using captions. This is an example of a caption with <a href="#">a link</a>.</p>
                            </div>
                        </li>
                        <li>
                            <img src="{{ asset('img/building-940x350.png') }}" alt="Building">
                            <div class="flex-caption">
                                <h2>Clean Design</h2>
                                <p>You can describe your slides using captions. This is an example of a caption with <a href="#">a link</a>.</p>
                            </div>
                        </li>
                        <li>
                            <img src="{{ asset('img/living-brown-940x350.png') }}" alt="Brown Living Room">
                            <div class="flex-caption">
                                <h2>Touch Enabled</h2>
                                <p>You can describe your slides using captions. This is an example of a caption with <a href="#">a link</a>.</p>
                            </div>
                        </li>
                        <li>
                            <img src="{{ asset('img/dining-brown-940x350.png') }}" alt="Brown Dining Room">
                            <div class="flex-caption">
                                <h2>Easy to Customize</h2>
                                <p>You can describe your slides using captions. This is an example of a caption with <a href="#">a link</a>.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end slider -->



        <div class="latest-projects">
            <div class="projects-title">
                <div class="row">
                    <div class="span10">
                        <h5>Latest Projects </h5>
                    </div>
                    <div class="span2">
                        <a class="btn btn-inverse pull-right" href="./portfolio-3-columns.html">View All</a>
                    </div>
                </div>
            </div>


            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail">
                        <a href="./single-project.html"><img src="http://placehold.it/260x200" alt=""></a>
                        <h6>Project Title</h6>
                        <p><small>Lorem ipsum dolor sit amet, consect adipiscing elit. Aliquam hendrerit enim facilisis diam sagittis id auctor odio dapibus. </small></p>
                        <a href="./single-project.html" class="btn btn-danger  btn-block">View Project</a>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="./single-project.html"><img src="http://placehold.it/260x200" alt=""></a>
                        <h6>Project Title</h6>
                        <p><small>Lorem ipsum dolor sit amet, consect adipiscing elit. Aliquam hendrerit enim facilisis diam sagittis id auctor odio dapibus. </small></p>
                        <a href="./single-project.html" class="btn btn-info btn-block">View Project</a>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="./single-project.html"><img src="http://placehold.it/260x200" alt=""></a>
                        <h6>Project Title</h6>
                        <p><small>Lorem ipsum dolor sit amet, consect adipiscing elit. Aliquam hendrerit enim facilisis diam sagittis id auctor odio dapibus. </small></p>
                        <a href="./single-project.html" class="btn btn-warning btn-block">View Project</a>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="./single-project.html"><img src="http://placehold.it/260x200" alt=""></a>
                        <h6>Project Title</h6>
                        <p><small>Lorem ipsum dolor sit amet, consect adipiscing elit. Aliquam hendrerit enim facilisis diam sagittis id auctor odio dapibus. </small></p>
                        <a href="./single-project.html" class="btn btn-success btn-block">View Project</a>
                    </div>
                </li>
            </ul>
        </div>


        <div class="latest-blog">
            <div class="blog-title">
                <div class="row">
                    <div class="span10">
                        <h5>Latest Posts from the Blog </h5>
                    </div>
                    <div class="span2">
                        <a class="btn btn-inverse pull-right" href="./blog-2.html">View All</a>
                    </div>
                </div>
            </div>


            <ul class="thumbnails">
                <li class="span3"><a href="./single-post.html" class="thumbnail"><img src="http://www.placehold.it/260x150"></a>
                    <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>
                    <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt. Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit. Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus</small></p>
                </li>
                <li class="span3"><a href="./single-post.html" class="thumbnail"><img src="http://www.placehold.it/260x150"></a>
                    <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>
                    <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt. Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit. Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus</small></p>
                </li>
                <li class="span3"><a href="./single-post.html" class="thumbnail"><img src="http://www.placehold.it/260x150"></a>
                    <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>
                    <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt. Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit. Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus</small></p>
                </li>
                <li class="span3"><a href="./single-post.html" class="thumbnail"><img src="http://www.placehold.it/260x150"></a>
                    <h4 class="single-title"><a href="./single-post.html">Blog Post Title</a></h4>
                    <div class="meta"><i class="icon-calendar"></i> January 1, 2013</div>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet enim eu nulla scelerisque tincidunt. Pellentesque rutrum volutpat fringilla. Cras eros sapien, pulvinar quis dictum quis, mollis a velit. Praesent sed velit nisi. Aliquam magna sapien, blandit in pharetra vitae, rhoncus eget tellus</small></p>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}