<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />

</head>

<body>

<header>
    <div class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"><i class="icon-home"></i></a>
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    {#<div id="bar" class="container">#}
        {#<div class="container">#}
            {#<span id="logo-text" class="span2">Anselmo</span>#}
            {#<span id="login"><a href="#">LogIn </a>/<a href="#"> Register</a></span>#}
            {#<span id="img" class="span2">#}
                {#<img src="{{ asset('img/f.png') }}" width="20" height="20px" alt="facebook" />#}
                {#<img src="{{ asset('img/g.png') }}" width="20" height="20px" alt="google+" />#}
                {#<img src="{{ asset('img/b.png') }}" width="20" height="20px" alt="blooger" />#}
                {#<img src="{{ asset('img/t.png') }}" width="20" height="20px" alt="twiter" />#}
            {#</span>#}
            {#<span class="a">Follow Us: </span>#}
        {#</div>#}
    {#</div>#}

    <div id="header" class="container">

        <div class="row">
            <div id="logo" class="span4">
                <img style="min-width: 381px; height: 120px;" src="{{ asset('img/logo.jpg') }}" alt="logo" />
            </div>
            <div id="signup-wrapper" class="span8">
                <div id="signup" class="span4 "><a href="#">SIGN UP</a>or <a href="#">LogIn</a></div>
            </div>
        </div>

        <div class="row">
            <div class="span12" id="menu-bar">
                <div  id="menu" class="span8">
                    <ul>
                        <li>Home</li>
                        <li>List</li>
                        <li>Commercial</li>
                        <li>Residential</li>
                        <li>Available</li>
                    </ul>
                </div>
                <div id="search" class="span3">Search: <input style="margin: 0px; padding: 0px;" class="span2" type="text"/></div>
            </div>
        </div>

    </div>
</header>




<!-- ---------------# CONTENT #------------------------ -->


<div id="content" class="container">
    <div class="row">
        <div id="sidebar-wrapper" class="span4">
            <div id="sidebar">
                <form>
                    <label>Search from the List</label>
                    <div class="radio">
                        For Sale <input type="radio" />
                        For Rent <input type="radio" />
                        Buy-to-Own <input type="radio" />
                    </div>
                    <div class="text">
                        Floor/Area<br/>
                        <input class="input-floor" type="text" /><br/><br/>
                        Price<br/>
                        <input class="price" type="text" />
                    </div>
                    <br/>
                    <input class="button" type="button" value="Show" />
                </form>
            </div>
            <div id="category" class="span3">
                <h4>Category</h4>
                <ul><li>Buying</li>
                    <li>Selling</li>
                    <li>Renting</li>
                    <li>Sharing</li>
                    <li>Home Loans</li>
                    <li>Renovating</li>
                    <li>Moving</li>
                </ul></div>
            <div id="profile" class="span3">
                <h4>Myrealestate</h4>
                <ul><li>Overview</li>
                    <li>My Account</li>
                    <li>My Profile</li>
                    <li>My Property</li>
                    <li>Searches</li>
                    <li>Recent Searches</li>
                    <li>Recent View Properties</li>
                </ul>
            </div>
        </div>

        <div id="content-wrapper" class="span8">
            <div id="banner" class="span8"><img src="{{ asset('img/banner.jpg') }}" alt="banner" /></div>
            <div id="main-content" class="span8">
                <h4>Top Properties</h4>
                <div id="inner" class="span8">
                    <div class="img"><img src="{{ asset('img/bedroom.jpg') }}" width="180" height="120" alt="rooms" /></div>
                    <h5>2 Bedroom Unit for Rent in Antel Spa</h5>
                <span>San Juan City
                    contact advertiser</span>
                </div>
                <div id="inner" class="span8">
                    <div class="img"><img src="{{ asset('img/place.jpg') }}" width="180" height="120" alt="place" /></div>
                    <h5>M Place Condo Units at Ortigas CBD</h5>
                <span>San Juan City
                    contact advertiser</span>
                </div>
                <div id="inner" class="span8">
                    <div class="img"><img src="{{ asset('img/place.jpg') }}" width="180" height="120" alt="rent" /></div>
                    <h5>Rent to own 16k per month Affordable</h5>
               <span>San Juan City
                    contact advertiser</span>
                </div>
            </div>


            <div id="main-content" class="span8">
                <h4>News and Information</h4>
                <div id="inner1" class="span8">
                    <div class="img"><img src="{{ asset('img/image1.jpg') }}" width="120" height="90" alt="1" /></div>
                    <h5>How to be a Good Apartment Neighbor</h5>

                </div>
                <div id="inner1" class="span8">
                    <div class="img"><img src="{{ asset('img/image2.jpg') }}" width="120" height="90" alt="2" /></div>
                    <h5>Top Neighborhood Attractions of a Home for Sale</h5>

                </div>
                <div id="inner1" class="span8">
                    <div class="img"><img src="{{ asset('img/image3.jpg') }}" width="120" height="90" alt="3" /></div>
                    <h5>House vs Condo [INFOGRAPHIC]</h5>

                </div>
            </div>

        </div>
    </div>

</div>

<footer>
    <div class="container">
        <div id="footer-img" class="span2">
            <img src="{{ asset('img/f.png') }}" width="20" height="20px" alt="facebook" />
            <img src="{{ asset('img/g.png') }}" width="20" height="20px" alt="google+" />
            <img src="{{ asset('img/b.png') }}" width="20" height="20px" alt="blooger" />
            <img src="{{ asset('img/t.png') }}" width="20" height="20px" alt="twiter" />
        </div>
        <div id="footer-wrapper" class="span8">
            <span><a href="#">About Us</a> | <a href="#">Terms and Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Advertise with Us</a> | <a href="#">Contact Us</a> | <a href="#">RSS</a> | <a href="#">FAQs</a> | <a href="#">Partner Sites</a> | <a href="#">Jobs</a> | <a href="#">Site Map</a></span>
            <br/>
            <span>© 2011-2012 by <a href="#">Team Bravo</a> Technology Powered by <a href="#">ACLC Mandaue</a></span>
        </div>
    </div>
</footer>


</body>
</html>

