{% extends 'MataPageBundle::layout.html.twig' %}


{% block body %}

{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<div class="span6" style="border: 1px solid #DDD;
border-radius: 5px; padding: 19px; margin: 0 auto;">
	<legend>Login</legend>
	<form action="{{ path('login_check') }}" method="post">
	  <div class="control-group">
	    <label class="control-label" value="{{ last_username }}" for="inputEmail">Email</label>
	    <div class="controls">
	      <input type="text" id="inputEmail"  name="_username" placeholder="Email">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Password</label>
	    <div class="controls">
	      <input name="_password" type="password" id="inputPassword" placeholder="Password">
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <label class="checkbox">
	        <input type="checkbox"> Remember me
	      </label>
	      <button type="submit" class="btn">Sign in</button>
	    </div>
	  </div>
	</form>
</div>
{% endblock %}