{% extends 'MataClassifiedAdsBundle::layout.html.twig' %}


{% block body %}
<form class="form-horizontal" method="POST" >	
	<div style="background-color: white; padding-bottom: 0px;" class="span12">
		<div style="background-color: white; padding-bottom: 0px;" class="well">
			<legend>Product/Service Details</legend>

			<div class="control-group">
			    <label class="control-label" for="inputTitle">Ad Title</label>
			    <div class="controls">
			      <input name="name" type="text" id="inputTitle" class="span4" placeholder="Advertisement Title">
			    </div>
			</div>

		  	<div class="control-group">
		    	<label class="control-label" for="inputCategory">Category</label>
		    	<div class="controls">
		    		<input type="text" id="inputCategory" class="span4" placeholder="Category">
		    	</div>
		    </div>

			<div class="control-group">
				<label class="control-label" for="inputCategory">Classification</label>
			    <div class="controls">
			      <input type="text" id="inputCategory" class="span4" placeholder="Classification">
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="inputCategory">Ad Details</label>
			    <div class="controls">
			      <textarea name="description" class="textarea span7" style="height:200px" id="inputCategory" placeholder="Details"></textarea>
			    </div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputPrice">Price</label>
			    <div class="controls">
			      <input name="price" type="text" id="inputPrice" class="span4" placeholder="Price">
			    </div>
			</div>

			<legend>Images</legend>

			<div class="control-group">
				<label class="control-label" for="inputThumbnail">Thumbnail</label>
				<div class="controls">
					<div class="fileupload fileupload-new" data-provides="fileupload">
					  <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
					  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
					  <div>
					    <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
					    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
					  </div>
					</div>
				</div>

				<label class="control-label" for="inputThumbnail">Additional</label>
				<div class="controls">
					<div id="upload-zone">
				    <div class="fileupload fileupload-new" data-provides="fileupload">
					  <div class="input-append">
					    <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
					  </div>
					</div>
					</div>
					<a id="btnAdd" class="btn">Add image</a>
				</div>
			</div>

			<legend>Contact Information</legend>

			<div class="control-group">
			    <label class="control-label" for="inputTitle">Name</label>
			    <div class="controls">
			      <input type="text" id="inputTitle" class="span4" placeholder="Advertisement Title">
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="inputCategory">Email</label>
			    <div class="controls">
			      <input type="text" id="inputCategory" class="span4" placeholder="Category">
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="inputCategory">Contact Number</label>
			    <div class="controls">
			      <input type="text" id="inputCategory" class="span4" placeholder="Classification">
			    </div>
			</div>
			


			<div style="border-left: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; margin: 70px -20px 0px -20px;" class="form-actions">
				<div class="span4" >
		      		<button type="submit" class="btn btn-primary">Post</button>
					<button type="button" class="btn">Save as Draft</button>
					<button type="button" class="btn">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</form>	
{% endblock %}