<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lease Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Christopher Mata">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap2.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('css/blue.css') }}">

    <!-- Google Font -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Signika+Negative:400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ asset('css/style2.css') }}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if IE 7]>
    <link rel="stylesheet" href="css/font-awesome-ie7.css">
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">

</head>

<body>

<div style="background-color: white" id="wrapper" class="container">
<!-- Nav
================================================== -->
<header>
    <div class="container" >
        <div class="header" style="border: none;">
            <div class="row">
                <div class="span6">
                    <h1><a href="{{ path('mata_page_home') }}"><img style=" height: 90px;" src="{{ asset('img/logo.jpg') }}" alt="logo" /></a></h1>
                </div>
                <div class="span6" id="header-nav">
                    <ul class="nav nav-pills pull-right l_tinynav1">
                        {% if app.request.get('_route') == 'mata_page_home' %}
                        <li class="active">
                    {% else %}
                        <li>
                            {% endif %}
                            <a href="{{ path('mata_page_home') }}">Home</a>
                        </li>

                        </li><li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="./features.html">
                            Features
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="./features.html">Elements</a></li>
                            <li><a href="./our-team.html">Our Team</a></li>
                            <li><a href="./columns.html">Columns</a></li>
                            <li><a href="./single-project.html">Single Project Page</a></li>
                            <li><a href="./single-post.html">Single Post Page</a></li>
                            <li class="divider"></li>
                            <li><a href="./index-slider-2.html">Slider Theme 2</a></li>
                            <li><a href="./index-slider-3.html">Slider Theme 3</a></li>
                            <li><a href="./index-slider-4.html">Slider Theme 4</a></li>
                        </ul>
                    </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="./portfolio-3-columns.html">
                                Portfolio
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="./portfolio-2-columns.html">2 Columns</a></li>
                                <li><a href="./portfolio-3-columns.html">3 Columns</a></li>
                                <li><a href="./portfolio-4-columns.html">4 Columns</a></li>
                                <li><a href="./portfolio-6-columns.html">6 Columns</a></li>
                                <li class="divider"></li>
                                <li><a href="./single-project.html">Single Project Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="./blog.html">
                                Blog
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="./blog.html">Blog Layout Version 1</a></li>
                                <li><a href="./blog-2.html">Blog Layout Version 2</a></li>
                                <li class="divider"></li>
                                <li><a href="./single-post.html">Single Post Page</a></li>
                            </ul>
                        </li>

                        {% if app.request.get('_route') == 'mata_page_contact' %}
                        <li class="active">
                            {% else %}
                        <li>
                            {% endif %}
                            <a href="{{ path('mata_page_contact') }}">Contact</a>
                        </li>

                    </ul><select class="tinynav tinynav1"><option value="./index.html" selected="selected">Home</option><option value="./features.html">
                    Features

                </option><option value="./features.html">Elements</option><option value="./our-team.html">Our Team</option><option value="./columns.html">Columns</option><option value="./single-project.html">Single Project Page</option><option value="./single-post.html">Single Post Page</option><option value="./index-slider-2.html">Slider Theme 2</option><option value="./index-slider-3.html">Slider Theme 3</option><option value="./index-slider-4.html">Slider Theme 4</option><option value="./portfolio-3-columns.html">
                    Portfolio

                </option><option value="./portfolio-2-columns.html">2 Columns</option><option value="./portfolio-3-columns.html">3 Columns</option><option value="./portfolio-4-columns.html">4 Columns</option><option value="./portfolio-6-columns.html">6 Columns</option><option value="./single-project.html">Single Project Page</option><option value="./blog.html">
                    Blog

                </option><option value="./blog.html">Blog Layout Version 1</option><option value="./blog-2.html">Blog Layout Version 2</option><option value="./single-post.html">Single Post Page</option><option value="contact-us.html">Contact Us</option></select>
                </div>
            </div>
        </div>


        <div class="navbar">
            <div style="border-radius: none;" class="navbar-inner">
                <div class="container">
                    <ul class="nav">

                        <li style="margin-left: -20px;" class={% if app.request.get('_route') == 'mata_page_home' %}"active"{% endif %}>
                            <a href="{{ path('mata_page_home') }}">Home</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="{{ path('mata_main_property') }}" class="dropdown-toggle" data-toggle="dropdown">Properties <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Residential</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Commercial</a></li>
                                <li class="divider"></li>
                                <li><a href="#">For Rent</a></li>
                                <li class="divider"></li>
                                <li><a href="#">For Sale</i></a></li>
                                <li class="divider"></li>
                                <li><a href="#">All</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="#">About</a></li>
                        <li class="divider-vertical"></li>
                        {% if app.request.get('_route') == 'mata_page_contact' %}
                        <li class="active">
                            {% else %}
                        <li>
                            {% endif %}<a href="{{ path('mata_page_contact') }}">Contact</a></li>
                        <li class="divider-vertical"></li>
                    </ul>

                    <form class="navbar-search pull-right" style="margin-top: 8px;">
                        <input style="font-size: 14px" type="text" class="search-query" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>

</header>


<!-- Content
================================================== -->
{% block content %}

{% endblock %}

<!-- Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="span4">

                <h3><i class="icon-sitemap icon-large"></i> Links</h3>

                <ul class="footer-links unstyled clearfix">
                    <li><a href="./">Home</a></li>
                    <li><a href="#">Mauris accumsan</a></li>
                    <li><a href="#">Lauris</a></li>
                    <li><a href="#">Accumsan</a></li>
                </ul>

                <ul class="footer-links unstyled clearfix">
                    <li><a href="#">Hello World</a></li>
                    <li><a href="#">Mauris accumsan</a></li>
                    <li><a href="#">Lauris</a></li>
                    <li><a href="#">Accumsan</a></li>
                </ul>

            </div> <!-- /span4 -->


            <div class="span4">

                <h3><i class="icon-thumbs-up icon-large"></i> Connect With Us</h3>

                <p>We know you have at least one social profile... We would love to hear from you!</p>

                <div class="footer-social">
                    <a href="#"><i class="icon-pinterest-sign"></i></a>
                    <a href="#"><i class="icon-twitter-sign"></i></a>
                    <a href="#"><i class="icon-facebook-sign"></i></a>
                    <a href="#"><i class="icon-google-plus-sign"></i></a>
                    <a href="#"><i class="icon-linkedin-sign"></i></a>
                </div>

            </div> <!-- /span4 -->

            <div class="span4">

                <h3><i class="icon-envelope-alt icon-large"></i> Subscribe</h3>

                <p>Subscribe to our newsletter to get the latest news!</p>

                <form>

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input class="span2" id="prependedInput" size="16" type="text" placeholder="Your Email">
                    </div>

                    <button class="btn ">Subscribe</button>
                </form>

            </div> <!-- /span4 -->

        </div>

    </div>
</footer>
<footer class="footer-two">
    <div class="container">
        <ul class="footer-links">
            <li><a href="#">Read the blog</a></li>
            <li><a href="#">Submit</a></li>
            <li><a href="#">Links</a></li>
        </ul>
    </div>
</footer>



<!-- Javascript
================================================== -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="{{ asset('js/jquery.flexslider.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/tinynav.min.js') }}"></script>
<script src="/js/filterable.js"></script>
<script src="{{ asset('js/scripts.js') }}"></script>



<!-- Analytics
================================================== -->

</div>

</body>
</html>