{% extends 'MataAdminBundle::layout.html.twig' %}

{% block content %}
<h3 class="page-header">{{ title }}</h3>
    <a href="{{ path('mata_admin_list', {'adminName': title|lower }) }}" class="btn"><i class="icon-th-list margin-right-small"></i>Back to list</a>
    <div class="widget-box">
        <div class="widget-header">
            <span class="icon"><i class="icon-plus"></i></span>
            <h5>Add new {{ title|capitalize }}</h5>
        </div>
        <div class="widget-content">
            <form action="{{ path('mata_admin_update', {'adminName': title|lower , 'id': id} ) }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}

                
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>
			{% for flashMessage in app.session.flashbag.get('notice') %}
				<div class="flash-notice">
					<div class="alert alert-success">
					{{ flashMessage }}
					</div>
				</div>
			{% endfor %}
        </div>
    </div>
</div>
{% endblock %}