{% extends 'MataAdminBundle::layout.html.twig' %}

{% block content %}
<h3 class="page-header">{{ title }}</h3>
    <a href="{{ path('mata_admin_add', {'adminName': title|lower }) }}" class="btn"><i class="icon-plus margin-right-small"></i>Add new</a>
    <div class="widget-box">
        <div class="widget-header">
            <span class="icon"><i class="icon-th-list"></i></span>
            <h5>List of {{ title|capitalize }}</h5>
        </div>
        <div class="widget-content">
            <table class="table-striped table table-hover">
                <thead>
                <tr>
				{% for f in allFields %}
					{% for field in fields %}
						{% if field == f %}
							<th>{{ f|capitalize }}</th>
						{% endif %}
					{% endfor %}
                {% endfor %}
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    <tr>
                        {% for key,value in row %}
							{% for field in fields %}
								{% if field == key %}
								<td>{{ value|e }}</td>
								{% endif %}
							{% endfor %}
                        {% endfor %}
                        <td class="actions">
                            <a class="bottom-tooltip" title="View" href="view/{{ row.id }}"><i class="icon-search" ></i></a>
                            <a class="bottom-tooltip" title="Edit" href="edit/{{ row.id }}"><i class="icon-pencil" ></i></a>
                            <a class="bottom-tooltip" title="Delete" href="delete/{{ row.id }}"><i class="icon-remove" ></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="widget-footer">
            <span class="widget-pagination">
                <a tabindex="0" class="widget-pagination ui-state-disabled">1</a>
                <a tabindex="0" class="fg-button ui-button ui-state-default">2</a>
                <a tabindex="0" class="fg-button ui-button ui-state-default">3</a>
                <a tabindex="0" class="fg-button ui-button ui-state-default">4</a>
                <a tabindex="0" class="fg-button ui-button ui-state-default">5</a>
            </span>
        </div>
    </div>
</div>
{% endblock %}