{% extends '::base.html.twig' %}

{% block content %}
    <h1 class="page-title">Properties</h1>
    <div class="container">
        <div class="row">
            <div class="span3">
                <h4 class="muted">Advance Search</h4>
                <form>
                    <label for="ptype"><small>Property Type</small></label>
                    <select id="ptype" name="ptype" class="span3">
                        <option>Residential</option>
                        <option>Commercial</option>
                    </select>

                    <label for="minprice"><small>Min. Price</small></label>
                    <select id="minprice" name="minprice" class="span3">
                        <option>Any</option>
                        <option>Commercial</option>
                    </select>

                    <label for="maxprice"><small>Max Price</small></label>
                    <select id="maxprice" name="maxprice" class="span3">
                        <option>Any</option>
                        <option>Commercial</option>
                    </select>

                    <label for="keywords"><small>Keywords</small></label>
                    <select id="keywords" name="keywords" class="span3">
                        <option>Any</option>
                        <option>Commercial</option>
                    </select>

                        <input type="submit" class="btn btn-primary span3" value="Search">

                </form>
            </div>

            <div class="span9">
                <div class="nav navbar">
                    <div id="search-results-bar" class="navbar-inner">

                        <small class="line-height-25 muted">1-25 of 1023 results</small>

                        <div class="pull-right">
                            <small class="muted">Sort by: </small>
                            <select>
                                <option>Available</option>
                                <option>Available</option>
                                <option>Available</option>
                            </select>
                        </div>
                    </div>

                    <div id="result-box">
                        {% for i in 0..5 %}
                        <div id="results" class="well well-small">
                            <div>
                                <a href="#">12 Davison Place, South Yarra, Vic 3141</a>
                                <span>Available</span>
                            </div>

                            <div class="">
                                <img src="http://placehold.it/300x200">
                            </div>

                            <div>
                                <img src="http://s2.rea.reastatic.net/rs/img/icons/beds.png$$151.4528-7" alt="Bedrooms"><span>2</span>
                                <img src="http://s1.rea.reastatic.net/rs/img/icons/baths.png$$151.4528-7" alt="Bathrooms"><span>1</span>
                                <img src="http://s2.rea.reastatic.net/rs/img/icons/parking_spaces.png$$151.4528-7" alt="Car Spaces"><span>2</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div id="pagi">
                        <div class="pagination pagination-centered">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}