{% extends '::base.html.twig' %}

{% block content %}
    <h1 class="page-title">Properties</h1>
    <div class="container">
        <div class="row">
            <div class="span3 well">
                <form>
                    <div class="span3">
                        Looking for:
                        <div class="btn-group" data-toggle-name="is_private" data-toggle="buttons-radio" >
                        <button type="button" value="0" class="btn" data-toggle="button">Public</button>
                        <button type="button" value="1" class="btn" data-toggle="button">Private</button>
                    </div>
                    </div>
                    <input class="span3" placeholder="Where">
                </form>
            </div>
            <div class="span10"></div>
        </div>
    </div>
{% endblock %}