#content{
    padding-right: 30px;
}

.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}
.footer a {
    color: #999;
}
.footer a:hover {
    color: #efefef;
}
.main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}
.push {
    height: 63px;
}

.icon{
    margin-right: 5px;
}

.icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.nav-stacked, .nav-tabs.nav-stacked > li > a {
    border: none !important;
    border-radius: 0px;
    color: #DDD;

}

.nav-tabs.nav-stacked > li {
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    padding: 5px;
    opacity: .4;
}

.nav-tabs.nav-stacked > li:hover {
    opacity: 1;
    border-right: 3px solid rgb(255, 83, 0);
}
.nav-tabs.nav-stacked > li.active {
    opacity: 1;
    border-right: 3px solid rgb(255, 83, 0);
}

.nav-tabs > li > a:hover {
    background: none;
    opacity: 1;
}

.left-nav-brand{
    padding: 0px 0px !important;
    background-color: #696969;
    text-align: center;
    font-weight: bold;
}

.left-nav-brand a{
    padding: 5px !important;
}

.left-nav-brand:hover, .left-nav-brand:active{
    opacity: .4 !important;
    border-right: none !important;
}

@font-face
{
    font-family: swiss;
    src: url({{ asset('font/swiss-light.ttf') }})
,url('Sansation_Light.eot'); /* IE9 */
    }

img.admin{
    height: 26px;
    width: 24px;
    color: white;
    background-color: white;
    opacity: .4;
    margin-right: 10px;
}
.page-header{
    font-family: "Droid Sans" !important;

}

hr{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #E0DFDF;
    border-bottom: 1px solid #FEFEFE;
}

.widget-header {
    background-color: #EFEFEF;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}

.widget-footer{
    background-color: #EFEFEF;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
    border-top: 1px solid #CDCDCD;
    height: 36px;
    padding: 10px;
}

.widget-content{
    background-color: white;
    min-height: 20px;
    padding: 20px;
}

table{
    margin-bottom: 0px !important;
}

th, td{
    border: 1px solid #DDD !important;
    border-collapse: separate;
}

th{
    background-color: #EFEFEF;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
    border-bottom: 1px solid #CDCDCD;
    font-size: 10px;
    padding: 5px 10px 2px !important;
    text-align: center !important;
}

.widget-box{
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}

.widget-header span.icon {
    border-right: 1px solid #CDCDCD;
    padding: 9px 10px 7px 11px;
    float: left;
    opacity: .7;
}

.widget-header h5{
    color: #666;
    text-shadow: 0 1px 0 white;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}

.widget-pagination button, .widget-pagination a{
    font-size: 12px;
    padding: 4px 10px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #DDD #DDD #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    line-height: 16px;
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(center top , white, #E6E6E6);
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white, #E6E6E6);
    color: #333;
    text-shadow: 0 1px 0 white;
}

td.actions{
    text-align: center;
}

.margin-right-small{
    margin-right: 5px;
}

fieldset{
    padding: 20px;
}