body{background-color:#FAFAFA; font-family:'Proxima Nova',Arial}

/*-----------------------# headerbar #-------------------------*/
header{width:100%;
}
.brand, .navbar .nav > li > a {padding-top: 5px !important; padding-bottom: 5px !important;}
.navbar-inner{min-height: 30px !important;}
#bar{background-color:#3e3e3e; margin-bottom:0px;font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;padding-top:3px;width:100%;}

#logo-text{font-size:20px; float:left;margin-left:20px;font-family:vani; font-weight:bold;color:#b7b7b7;padding:0px;margin:0 0 -15px 10px;}

#img{float:right;padding-top:2px;padding-bottom:0px;margin-right:20px;}
.a{float:right; margin:5px 5px 0px 0; color:#b7b7b7}
#login{float:right;margin-right:20px;color:#b7b7b7; margin-top:5px}
#login a{color:#666; text-decoration:none;color:#b7b7b7}
#login a:hover{color:#6a6a6a}

/*-----------------------# Mainheader #--------------------------*/

#header{ padding-top:0px;padding-bottom:0px;background-color:#ffffff;padding-bottom:5px; border-bottom: dashed 1px #a9a9a9; }
#logo{float:left;margin-top:0px;height:90px; background-color:#CCC;margin-left:30px;margin-bottom:31px;}
#signup{float:left; margin-top:45px;border:1px #c2e8ea solid; background-color:#d5f9fc;border-radius:15px;padding-left:65px;padding-top:4px; padding-bottom:4px;width:230px; color:#666666; margin-left:180px}
#signup a{color:#666666; padding-right:10px;padding-left:10px; text-decoration:none; font-family:Arial, Helvetica, sans-serif;font-size:13px;font-family:'proxima nova',arial;}
#signup a:hover{color:red;}
#signup-wrapper{background:url(file:///G|/thesis/img/bg.jpg) no-repeat; margin:1px 0 0 0; height:120px;left:160px}
#menu{padding-left:0px;margin-left:0px;}
#menu-bar{ background-color:#dfdfdf;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, white) );
    background:-moz-linear-gradient( center top, #ebebeb  50%, #dfdfdf 100% );
    border-radius:3px 3px 3px 3px}
#menu ul li{display:inline; float:left; padding-right:20px;padding-bottom:5px;margin:-15px 0 0 0;padding: 8px 20px 7px 20px;font-family:proxima nova, arial; font-weight:; border-right:1px solid #cfcfcf; border-radius:3px 3px 3px 3px; color:#707070}
#menu ul{padding:0px 10px 5px 0px;}
#search{margin-top:9px;margin-right:10px;font-family:'proxima nova',arial;color:#707070}
#menu ul li:hover{background-color:#fff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, white) );
    background:-moz-linear-gradient( center top, #fff 10%, #efefef 100% ); color:#8498a7}





/*-----------------------# Content #--------------------------*/

#content{margin-top:10px;padding:10px 0px 30px 0px;background-color: #EEEEEE;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, white) );
    background:-moz-linear-gradient( center top, #EEEEEE 50%, white 100% );
    border-radius:5px 5px 5px 5px; border:#EDEDED solid 1px;}

/*#sidebar-wrapper{width:300px;float:left;margin-right:43px;}*/
#sidebar{border-radius:6px; border:1px solid #d2d2d2;padding-top:16px;padding-left:20px;padding-bottom:20px;background-color:#dfdfdf;}
#sidebar label{font-size:21px; padding: 0 55px 0 40px;border-bottom:1px solid #a9a9a9 }
#sidebar .radio{margin:10px 0 5px 0;font-size:13px;}
.text{font-size:15px;margin-top:10px;}
.button{width:100px; padding-top:20pxs}
.input-floor, .price{width:220px; padding:8px 0 7px 10px;}


#content-wrapper{padding-bottom:20px;}
#page-banner{float:left;font-size:100px;height:182px; margin-left:0px;width:600px; background-color:#fff;}
/*#banner{float:left;font-size:180px;height:270px; margin-left:0px;width:600px; background-color:#fff;}*/
#banner{margin: 0px;}
#inner{width:590px;margin:0px 0px 10px 0px;border-top:#dbdbdb solid 1px;padding-bottom:10px;padding-left:10px;padding-top:10px}
#main-content h4{width:600px;margin-left:0px;padding-left:10px;padding-right:0px; font-family:'Proxima Nova',Arial;font-size:17px;color:#464545; margin-bottom:10px;margin-top:10px}
#main-content{border:1px solid #dbdbdb;margin-left:0px; margin-top:10px;width:600px; border-radius:5px;margin-bottom:10px;background-color:white;}
#inner span{float:left; margin-left:20px;margin-top:0px;;font-family:'Proxima Nova',Arial;font-size:11px;color:#464545}
h5{float:left;margin:5px 0px 3px 20px;font-family:'Proxima Nova',Arial;font-size:13px;color:#464545}
h5:hover{color:red;}
.img{float:left;width:180px; height:120px; background-color:#fff; border: 1px solid #dbdbdb}


#inner1{width:590px;margin:0px 0px 10px 0px;border-top:#dbdbdb solid 1px;padding-bottom:10px;padding-left:10px;padding-top:10px}
#inner1 .img{float:left;width:120px; height:90px; background-color:#fff;border: 1px solid #dbdbdb}
span{float:; margin-left:20px;margin-top:0px;}
#inner2{width:590px;margin:0px 0px 10px 0px;border-top:#dbdbdb solid 1px;padding-bottom:10px;padding-left:10px;padding-top:10px}
#inner2 span{float:left; margin-left:20px;margin-top:0px;;font-family:'Proxima Nova',Arial;font-size:11px;color:#464545}
#inner2 .img{float:left;width:180px; height:120px; background-color:#fff; border: 1px solid #dbdbdb}



#category{float:left; margin:10px 0 0 0px;background-color:white;margin-left:10px;border-radius:5px;border:1px solid #dbdbdb;}
#category h4{margin-left:0px;margin-bottom:10px;font-family:'Proxima Nova',Arial;font-size:17px;color:#464545;margin-top:10px;border-bottom:1px solid #dbdbdb;padding-left:5px;}
#category ul{list-style:none;padding-left:0px;margin:0 0px 15px 0px;}
#category ul li{margin-top:10px;border-bottom:1px dashed #dbdbdb;padding-left:5px;padding-bottom:5px;font-family:'Proxima Nova',Arial;font-size:12px;color:#464545;font-weight:bold;}
#category ul li:hover{color:#ff0000;font-weight:bold;}
#category ul li:before{content: "\00BB \0020";}
#profile{float:left; margin:10px 0 0 0px;background-color:white;margin-left:10px;border-radius:5px;border:1px solid #dbdbdb;}
#profile h4{margin-left:0px;margin-bottom:10px;font-family:'Proxima Nova',Arial;font-size:17px;color:#464545;margin-top:10px;border-bottom:1px solid #dbdbdb;padding-left:5px;}
#profile ul{list-style:none;padding-left:0px;margin:0 0px 15px 0px;}
#profile ul li{margin-top:10px;border-bottom:1px dashed #dbdbdb;padding-left:5px;padding-bottom:5px;font-family:'Proxima Nova',Arial;font-size:12px;color:#464545;}
#profile ul li:hover{color:#ff0000;}
#profile ul li:before{content: "\00BB \0020";}




/* -------------------------- Footer --------------------------*/
footer{margin-top:10px;}
#footer-wrapper{float:left; margin:10px 0 0 0;line-height:18px;}
#footer-wrapper span{float:left; margin-left:5px;font-family:'Proxima Nova',Arial;font-size:11px;color:#464545}
#footer-img{float:right; margin:10px 10px 0 0}
#footer-wrapper span a{font-family:'Proxima Nova',Arial;font-size:11px;color:orange; text-decoration:none;}
#footer-wrapper span a:hover{color:#464545;}
footer img{
    width: 20px;
    height: 20px;
}



/* -------------------------- Form --------------------------*/
#form{border:1px solid #CCC; background-color:white;width:600px;margin-left:10px; border-radius:5px;padding:10px;}



/*new*/

