
/* Helper
-------------------------------------------------- */
.margin-top-small{
    margin-top: 5px;
}

.line-height-25{
    line-height: 25px;
}


body {
    position: relative;
    color: #909090;
    background-image: url(http://www.ixtendo.com/themes/finesse-html/images/background-patterns/boxed/grid.png)
}

#wrapper{
    border-top:5px solid #333333;
    padding: 0px 40px;
    box-shadow: rgba(0, 0, 0, 0.239216) 0px 0px 8px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

.navbar-inner{
    box-shadow: none;
}
.navbar .nav > li {
}

.navbar .nav > li > a {
    padding: 10px 24px 8px;
    border-bottom: 2px solid transparent;
    text-shadow: none;

}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border-bottom: 2px #08C solid;
    /*color: white;*/
    /*background-color: #08C;*/
    /*box-shadow: none;*/
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    /*border-right: 3px #08C solid;*/
    /*background-color: transparent;*/
}

.icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.divider-vertical{
    margin: 0px !important;
}


/* List property view
-------------------------------------------------- */
#search-results-bar{
    min-height: 25px !important;
    padding: 5px 10px;
    margin-bottom: 20px;
}

#search-results-bar a{
    font-size: 13px;
    max-height: 19px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 333px;
}

#search-results-bar select{
    padding: 2px;
    margin-bottom: 0px;
    height: 25px;
}

.well-small{
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* Header
-------------------------------------------------- */

header {
}

.header{
    border-bottom:1px solid #eeeeee;
}

#header-nav {
    padding: 15px 0 0 0;
}

.header h1 {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
    font-size:40px;
    line-height: 42px;
}

.header h1 span {
    color:#08C;
}

.header h1 a{
    color:#333333;
}

.header h1 a:hover{
    color:#333333;
    text-decoration: none;
}

.tinynav { display: none }


/* Brand
-------------------------------------------------- */

body > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
body > .navbar .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}



/* Faded out hr */
hr.soften {
    height: 1px;
    margin: 70px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
}

/* Homepage
-------------------------------------------------- */
.lead-txt {
    text-align: center;
    margin: 30px 0 40px 0;
}

.lead-txt p {
    font-size: 30px;
    line-height: 36px;
    color: #333333;
}

.latest-projects {
    padding: 50px 0 50px 0;
}

.projects-title, .blog-title {
    border-bottom:1px solid #eeeeee;
    margin-bottom: 20px;
}

.projects-title h5, .blog-title h5 {
    text-transform: uppercase;
}

.latest-projects h6 {
    text-align: center;
}

.latest-blog h4.single-title{
    margin-bottom: 3px;
}

.latest-blog .meta {
    font-size: 11px;
}

/* Titles
-------------------------------------------------- */
h1.page-title {
    font-weight: 300;
    letter-spacing: -0.1px;
    margin: 25px 0;
    font-size: 28px;
    padding: 0 0 20px;
    border-bottom: 1px solid #EEE;
}

h5.sidebar-title {
    color: #414141;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 12px;
}

h3.post-tile {
    margin: 0;
    line-height: 28px;
}

/* Portfolio
-------------------------------------------------- */
#portfolio-filter {
    margin: 0 0 15px 0;
}


/* Blog
-------------------------------------------------- */
.blog-post {
    border-bottom: 1px dotted #CED8DF;
    margin: 0 0 50px;
    padding: 0 0 30px;
}

.post-image {
    margin:0 auto 15px;
}

.blog-post .meta {
    padding: 0 0 10px 0;
}

/* Sidebar
-------------------------------------------------- */
.widget {
    margin: 0 0 50px 0;
}

.widget li {
    padding:0 0 3px 0;
}

/*  Comments
 -------------------------------------------------- */

.comments-list {
    border-bottom: 1px dotted #ced8df;
    margin: 27px 0 45px;
    padding: 0 0 30px;
    overflow: hidden;
}

.comment {
    border-top: 1px dotted #ced8df;
    list-style: none;
    margin: 30px 0 0;
    padding: 35px 0 0;
}

.comment:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.comment > article {
    margin: 0;
    overflow: hidden;
}

.comment .avatar {
    background: #fff;
    margin: 0 0 5px 0;
    position: relative;
    width: 70px;
    z-index: 1;
}

.comment .comment-meta { margin-bottom: 0; }

.comment .author, .comment .author a {
    color: #54555a;
    margin: 0;
}

.comment .author .comment-reply-link { font-size: 11px; }

.comment .date, .comment .date a {
    color: #adb3b8;
    font-style: italic;
    margin: 1px 0 5px;
}

.comment .author a:hover, .comment .date a:hover { color: #f15a23; }

.comment .children {
    margin: 0;
    padding: 30px 0 0 70px;
    position: relative;
}

.comment .children .comment {
    border-top: 1px dotted #ced8df;
    margin: 30px 0 0;
    padding: 35px 0 0;
    position: relative;
}

.comment .children .comment:first-child { margin-top: 0; }


.comments-form .input-block {
    float: left;
    margin: 0 30px 20px 0;
}


/* Footer
-------------------------------------------------- */

.footer {
    padding: 20px 0;
    margin-top: 30px;
    background-color: #3A3A3A;
    font-size: 12px;
    color: #868686;
    margin-left: -40px;
    margin-right: -40px;
    border-top: 5px solid #E5E5E5;
}

.footer-two li a {
    color: #868686;
    border-left: 1px solid #505050;
    padding: 0 15px;
    font-size: 11px;
    text-transform: uppercase;
}

.footer-two li a {
    text-transform: none;
}

.footer-two li:first-child a {
    border-left: none;
    padding-left: 0;
}

.footer-two {
    background: #303030;
    line-height: 17px;
    padding: 12px 0;
    margin-left: -40px;
    margin-right: -40px;
}

.footer p {
    margin-bottom: 10px;
    color: #777;
}

.footer-two .footer-links li {
    display: inline;
}

ul.footer-links {
    margin-left: 0;
}

.footer-two ul.footer-links {
    margin-left: 0;
    margin-bottom: 0;
}

.footer .footer-links {
    width: 49%;
    display: inline-block;
}

.footer .footer-links li a {
    color: #868686;
}

.footer .icon-large {
    font-size: 22px;
    text-align: center;
    padding-right: 4px;
}

.footer h3 {
    font-size: 22px;
    line-height: 31.5px;
    color: #868686;
}

.footer li {
    border-bottom: 1px solid #505050;
    padding: 5px 0;
    margin-right: 30px;
}

.footer-social {
    font-size: 50px;
    margin: 15px 0;
}

.footer-social a{
    color: #b1b1b1;
    text-decoration: none;
    line-height: 40px
}

.footer-social a:hover{
    color: #08C;
    text-decoration: none;
}



/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    .inner-container {
        max-width: 970px;
    }
    .inner-sidenav {
        width: 258px;
    }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
    /* Unfloat brand */
    body > .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #header-nav .pull-right {
        float: none;
    }

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    #header-nav .pull-right {
        float: none;
    }

}

/* Tablet
------------------------- */
@media (max-width: 768px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    .footer, .footer-two {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer p {
        margin-bottom: 9px;
    }
}

/* styles for mobile
------------------------- */
@media screen and (max-width: 600px) {
    .tinynav { display: block; width: 100%; }
    .nav { display: none }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Remove padding above jumbotron */
    body {
        padding-top: 0;
    }

    /* Change up some type stuff */
    h2 small {
        display: block;
    }

    table code {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }


    .footer .pull-right {
        float: none;
    }
}

