{% extends 'MataUserBundle::layout.html.twig' %}


{% block content %}

    <div class="container">
        <h1 class="page-title">Log-in </h1>
        <div class="row">
            <div class="span4 well" >
                <legend>Login</legend>
                <form action="{{ path('mata_user_login_check') }}" method="post">
                  <div class="control-group">
                    <label class="control-label" value="{{ last_username }}" for="inputEmail">Email</label>
                    <div class="controls">
                      <input class="span4" type="text" id="inputEmail"  name="_username" placeholder="Email">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                      <input name="_password" class="span4" type="password" id="inputPassword" placeholder="Password">
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls row">
                        <div class="span3">
                            <label class="checkbox">
                                <input type="checkbox"> Remember me
                            </label>
                        </div>

                        <div class="span9">
                            <button type="submit" class="btn">Sign in</button>
                        </div>
                    </div>
                  </div>

                    {% if error %}
                    <div class="row">
                        <div class="span4">
                            <div class="alert alert-error">
                                <i type="button" class="close icon-remove" data-dismiss="alert" ></i>
                                <strong>Error: </strong>
                                {{ error.message }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}