{% extends 'MataUserBundle::layout.html.twig' %}


{% block body %}



<div class="span6" style="border: 1px solid #DDD;
border-radius: 5px; padding: 19px; margin: 0 auto;">
	<legend>Register</legend>
	<form action="{{ path('mata_user_register') }}" method="post">
	
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">UserName</label>
	    <div class="controls">
	      <input type="text" id="inputEmail"  name="username">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">Email</label>
	    <div class="controls">
	      <input type="text" id="inputEmail"  name="email">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Password</label>
	    <div class="controls">
	      <input name="password" type="password" id="inputPassword" >
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn">Register</button>
	    </div>
	  </div>
	  
	</form>
</div>
{% endblock %}