<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Christopher Mata">
		
		  <title>{% block title %}Admin{% endblock %}</title>
			
		  {% block stylesheets %}
			<link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('bundles/mataadmin/css/admin.css') }}" type="text/css" rel="stylesheet" />

			<link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
			<style>

			html, body {
				height: 100%;
                background: url({{ asset('img/bg.jpg') }}) repeat;
			}

		</style>
		  {% endblock %}
			
		  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	
	<body>

	<!-- Top Navigation -->
	{% block header %}
	<div style="margin-bottom: 20px" id="navigation" class="navbar navbar-static-top navbar-inverse">  
		<div class="navbar-inner">  
			<div class="container-fluid">
				<!-- Main Menu -->
				<ul class="nav">
				  <li ><a class="brand" href="#"><img src="{{ asset('img/icon/home.png') }}"  class="admin" />Admin</a></li>
				</ul>


				<!-- Login drop-down menu -->
				<ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="#" rel="tooltip" id="inbox" title="Inbox">
                            <i class="icon-envelope icon-white">
                                <span style="position: relative; top: -7px; left: 7px;padding-left: 5px; padding-right: 5px;"
                                      class="badge badge-important">6</span>
                            </i>
                        </a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
					{% block user %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
							<i class="icon-user icon-white"></i>   
							{{ app.user.username }}
							<b class="caret"></b>  
						</a>  
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
							<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
							<li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
							<li class="divider"></li>
							<li><a href="{{path('mata_user_logout')}}"><i class="icon-remove"></i>Logout</a></li>
						</ul>

						{% else %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
							<i class="icon-user icon-white"></i>   
							Login  
							<b class="caret"></b>  
						</a>  
						<ul class="dropdown-menu" style="padding: 19px">  

						  <form class="form-vertical">
							<div class="control-group">
							  <label class="control-label" for="inputEmail">Email</label>
							  <div class="controls">
								<input type="text" id="inputEmail" placeholder="Email">
							  </div>
							</div>
							<div class="control-group">
							  <label class="control-label" for="inputPassword">Password</label>
							  <div class="controls">
								<input type="password" id="inputPassword" placeholder="Password">
							  </div>
							</div>
							<div class="control-group">
							  <div class="controls">
								<label class="checkbox">
								  <input type="checkbox"> Remember me
								</label>
								<button type="submit" class="btn">Sign in</button>
							  </div>
							</div>
						  </form>

						</ul>  
						{% endif %}
					{% endblock %}
					</li>  
				</ul>  
			</div>
		</div>  
	</div>   
	{% endblock %}<!-- End of Top Navigation -->
		
	<!-- Main Wrapper -->
	<div class="container-fluid" style="height: 100%; margin-top: -20px; margin-left: -20px; padding-right: 0px">
		<div class="row-fluid" style="height: 100%;">
            <div class="span2 " style="margin-top: 0px; border-right:  3px solid black; background: #2D2D2D; color: white; height: 100%;" >
                <ul style ="margin-top: 0px;" class="nav nav-tabs nav-stacked" ">
                    <li class="left-nav-brand"><a href="#"><small>MENU</small></a></li>
                    <li ><a href="#"><i class="icon-white icon icon-home"></i>Dashboard<i class="icon-white icon-chevron-right"></i></a></li>
                    <li><a href="#"><i class="icon-white icon icon-file"></i>Pages<i class="icon-white icon-chevron-right"></i></a></li>
                    <li><a href="#"><i class="icon-white icon icon-user"></i>Users<i class="icon-white icon-chevron-right"></i></a></li>
                    <li><a href="#"><i class="icon-white icon icon-tags"></i>Spaces<i class="icon-white icon-chevron-right"></i></a></li>
                    <li><a href="#"><i class="icon-white icon icon-tasks"></i>Reports<i class="icon-white icon-chevron-right"></i></a></li>
                </ul>
            </div>

            <div id="content" class="span10">
                <div class="span12">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>

		</div>
	</div><!-- End of Main wrapper -->

		<!-- Javascripts -->
		{% block javascripts %}
		<script src="{{ asset('js/jquery.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('js/bootstrap.js') }}" type="text/javascript" ></script>
		{% endblock %}

        <script type="text/javascript" lang="javascript">
            $(document).ready(function(){
                $('#inbox').tooltip({
                    'placement':'bottom'
                });

                $('.right-tooltip').tooltip({
                   'placement' : 'right'
                });
				
				$('.bottom-tooltip').tooltip({
                   'placement' : 'bottom'
                });
            });
        </script>
	</body>
</html>
